body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(178, 178, 222);
}

#pageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll; 
}

#hi {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: blueviolet;
}

#ciao {
    position: absolute;
    top: 80px;
    right: 40px;
    background-color: blueviolet;
}

h1 {
    margin: 0;
}

/* Card Preview -------------------------------------------------------------------------------------------------*/
#previewCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}

.cardPreview {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 250px;
    margin: 20px 40px 20px 0px;
    background-color: rgb(64, 60, 83);
    color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.cardPreview:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.pokemonNamePreview {
    font-size: 20px;
    margin: 32px 0px 0px 32px;
}

#loadMoreBtn {
    height: 50px;
    width: 160px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(64, 60, 83);
    color: white;
    border: none;
    border-radius: 18px;
    margin: 40px ;
    transition: transform 0.2s ease-in-out;
}


#loadMoreBtn:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* Card ----------------------------------------------------------------------------------------------------*/
#card {
    flex-direction: column;
    height: 580px;
    width: 400px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}



/* Card Header ---------------------------------------------------------------------------------------------- */
#cardNavigation {
    height: 18px;
    display: flex;
    justify-content: space-between;
    margin: 24px 32px 0px 32px;
}

.icon {
    height: 100%;
    opacity: 0.211;
    transition: 0.3s ease-in-out;
}

.icon:hover {
    opacity: 1;
    cursor: pointer;
}

#cardHeader {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 40%;
    background-color: rgb(64, 60, 83);
    color: white;
}

.cardHeadline {
    margin: 12px 32px 18px 32px;
    display: flex;
    justify-content: space-between;
}

#pokemonId {}

#cardSubHeadline {
    display: flex;
    margin-left: 32px;
    font-size: 14px;
}

.type {
    width: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.211);
    margin: 0px 12px 0px 0px;
    border-radius: 12px;
    padding: 8px;
}

/* Card Body---------------------------------------------------------------------------------------------- */
.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    background-color: white;
    border-radius: 40px;
    margin-top: -40px;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 100px;
}

.cardBodyHeader {
    margin-top: -18px;
}

.cardLink {
    margin-right: 24px;
    font-size: 18px;
    font-weight: 500;
    transition: text-shadow .2s;
}

.cardLink:hover {
    cursor: pointer;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.cardSeparator {
    height: 4px;
    width: 100%;
    background-color: rgba(40, 28, 0, 0.092);
    margin: 24px 0px 24px 0px;
    border-radius: 12px;
}

#pokemonImg {
    margin-right: -18px;
    margin-top: -120px;
    height: 170px;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.2));
    transition: transform 1s ease-in-out;
}

#pokemonImg:hover {
    transform: scale(1.08);
}

.pokemonImgContainer {
    width: 100%;
    display: flex;
    justify-content: right;
}

.infoContainer {
    /* display: flex; */
    height: 100%;
    /* width: 100%; */
    justify-content: space-between;
}

/* Stats Chart ---------------------------------------------------------------------------------------------- */
#baseStatsChart {
    justify-content: space-between;

}

#statsContainer,
#statsDataContainer,
#statsLinesContainer {
    /* font-weight: 500;
    color: rgba(0, 0, 0, 0.457); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 20px;
    /* muss übereinstimmen mit .statsLineContainer heigt */
}

#statsLinesContainer {
    width: 150px;
}

.statsLineContainer {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.emptyStatsLine {
    height: 8px;
    width: 100%;
    background-color: rgba(40, 28, 0, 0.092);
    border-radius: 12px;
}

.statsLine {
    background-color: rgb(113, 229, 191);
    height: 100%;
    border-radius: 12px;
}

/* About Section---------------------------------------------------------------------------------------------- */
#specsListContainer,
#specsInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#specsListContainer {
    width: 122px;
}

#specsInfoContainer {
    margin-left: 40px;
}

.spec, .specInfo {
    height: 24px;
}

/* Allgemein ----------------------------------------------------------------------------------------------------------- */


.display-none {
    display: none;
}

.display-flex {
    display: flex;
}